/* TODOS LA BASE */
*{
    padding: 0;
    margin: 0;
    /* border: solid 1px rgb(17, 0, 255) */
}

/* CUERPO DE LA PAG (TODO) */
body{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   color: white;
   background-color: rgb(255, 255, 255);
}

/* IMAGEN COLOR DE TODA LA PAGINA */
header{
    background-image: url(img/menu-inicio.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

#menu-contenedor header #menu {
    padding: 10px 0px;
}

header #menu ul {
    padding: 0;
    margin: 0;
}

header #menu ul li {
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
}


header #menu ul li a {
   color: white;
   text-decoration: none;
   margin-left: 10px;
   background-color: rgb(0, 0, 0);
   padding: 10px;
   border-radius: 35px;
   box-shadow: 0 0 13px 4px white;
   background-size: 100% 100%;
   
}

header #menu ul li a:hover {

    padding: 10px;
    color: black;
    border-radius: 35px;
    background-color: rgb(255, 255, 255);
    cursor: url('https://cdn.discordapp.com/attachments/817158370251112450/929829344665276436/dAD9nIy.png'), auto !important;
}

/********************* BARRA DE INICIO, LOGO Y MENUS *************************/

#menu-contenedor header main {
    margin: 0 auto;
    width: 1400px;
}

#menu-contenedor header div {
    display: inline-block;
    vertical-align: middle;
}

#menu-contenedor header main .texto h1 {
    font-size: 80px;
    padding: 30px 0;
}

#menu-contenedor header main .texto p{
    font-size: 24px;
    padding: 2px 0;
}

button{
    margin-top: 30px;
    background-color: #5f70be;
    border: 0px;
    color: white;
    border-radius: 35px;
    width: 120px;
    padding: 24px;
    box-shadow: 0 0 13px 4px rgb(255, 255, 255);
    font-size: 18px;
    cursor: url('https://cdn.discordapp.com/attachments/817158370251112450/929829344665276436/dAD9nIy.png'), auto !important;
}

button:hover{
    background-image: url(img/discordlogo.png);
    border: 0px;
    color: rgba(0, 0, 0, 0);
    border-radius: 35px;
    width: 120px;
    padding: 24px;
}

button1{
    margin-top: 310px;
    background-color: #b31463;
    border: 0px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 35px;
    width: 100px;
    padding: 24px;
    box-shadow: 0 0 13px 4px rgb(255, 255, 255);
    font-size: 18px;
    cursor: url('https://cdn.discordapp.com/attachments/817158370251112450/929829344665276436/dAD9nIy.png'), auto !important;
}

button1:hover{
    background-image: url(img/INSTAGRAM.png);
    border: 0px;
    color: rgba(0, 0, 0, 0);
    border-radius: 35px;
    width: 120px;
    padding: 24px;
}

#menu-contenedor header main .imagen{
    text-align: right;
    width: 565px;
    box-shadow: 0 0 13px 4px rgb(255, 255, 255);
    margin-top: 100px;
    margin-left: 250px;
}
    
#menu-contenedor header main .imagen:hover{
    cursor: url('https://cdn.discordapp.com/attachments/817158370251112450/929829344665276436/dAD9nIy.png'), auto !important;
}

/********************* FINAL + IMAGENES *************************/

.final{
    width: 1280px;
    margin: 250px auto;
    background-color: black;
    padding: 25px;
    border-radius: 35px;
    box-shadow: 0 0 13px 8px rgb(0, 0, 0);
}
.final div{
    display: inline-block;
    vertical-align: middle;
}

.final h3{
    font-size: 60px;
    padding: 25px 0;
    color: rgb(255, 255, 255);
    margin-left: 35px;
}
.final-derecha .texto {
    border-radius: 35px;
}

.final p{
    font-size: 24px;
    padding: 2px;
    line-height: 32px;
    color: rgb(255, 255, 255);
    margin-left: 35px;
}

.final-izquierda .texto{
    width: 500px;
}

.final-izquierda .imagen{
    width: 770px;
    text-align: center;
    cursor: url('https://cdn.discordapp.com/attachments/817158370251112450/929829344665276436/dAD9nIy.png'), auto !important;
    box-shadow: 0 0 13px 4px rgb(255, 255, 255);
    border-radius: 35px;
}

.final-derecha .texto{
    width: 500px;
}

.final-derecha .imagen{
    width: 770px;
    text-align: center;
    cursor: url('https://cdn.discordapp.com/attachments/817158370251112450/929829344665276436/dAD9nIy.png'), auto !important;
    box-shadow: 0 0 13px 4px rgb(255, 255, 255);
    border-radius: 35px;
}

.imagenserver{
    margin-left: -122px;
    margin-top: 100px;
    /* border-radius: 35px; */
}

.imagenserver:hover{
    cursor: url('https://cdn.discordapp.com/attachments/817158370251112450/929829344665276436/dAD9nIy.png'), auto !important;

}


/*************PIE DE PAGINA*************/

footer{
    background-color: black;
    padding: 150px 20px;
    color: white;
    text-align: center;
}